*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

font-family:"Segoe UI", Arial, sans-serif;

color:#0f172a;

background:#ffffff;

}



.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 10%;

background:white;

}



.logo{

font-size:32px;

font-weight:700;

color:#2563eb;

}



nav a{

margin-left:30px;

text-decoration:none;

color:#334155;

font-weight:500;

}



nav a:hover{

color:#2563eb;

}




/* HERO */


.hero{

padding:90px 10%;

background:
linear-gradient(
120deg,
#ffffff,
#eff6ff
);

}



.hero-container{

display:flex;

align-items:center;

justify-content:space-between;

gap:60px;

}



.hero-content{

max-width:750px;

}



.intro{

font-size:22px;

font-weight:600;

color:#2563eb;

margin-bottom:20px;

}



.hero h1{

font-size:48px;

line-height:1.2;

margin-bottom:25px;

}



.hero-description{

font-size:20px;

line-height:1.7;

color:#475569;

}





.technology-tags{

margin-top:30px;

display:flex;

flex-wrap:wrap;

gap:12px;

}



.technology-tags span{

background:#e0f2fe;

padding:8px 15px;

border-radius:20px;

font-size:14px;

color:#0369a1;

}





.hero-buttons{

margin-top:40px;

}



.primary-btn,
.secondary-btn{

display:inline-block;

padding:14px 30px;

border-radius:30px;

text-decoration:none;

margin-right:15px;

}



.primary-btn{

background:#2563eb;

color:white;

}



.secondary-btn{

border:2px solid #2563eb;

color:#2563eb;

}





/* Technology Visual */


.tech-visual{

width:330px;

height:330px;

border-radius:50%;

position:relative;

background:
radial-gradient(circle,#dbeafe,#ffffff);

display:flex;

justify-content:center;

align-items:center;

}



.circle{

position:absolute;

border-radius:50%;

border:1px solid #93c5fd;

}



.circle1{

width:250px;

height:250px;

}



.circle2{

width:180px;

height:180px;

}



.tech-text{

text-align:center;

font-size:22px;

font-weight:600;

color:#2563eb;

line-height:1.8;

}





/* TRUST */


.trust{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(200px,1fr));

gap:30px;

padding:60px 10%;

text-align:center;

}



.trust strong{

display:block;

font-size:35px;

color:#059669;

}



.trust span{

color:#475569;

}





@media(max-width:900px){

.hero-container{

flex-direction:column;

text-align:center;

}


.hero h1{

font-size:36px;

}


nav{

display:none;

}


}
