/* General settings */

* {
    box-sizing: border-box;
}


body {

    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;

    background-color: #f7f9fc;

    color: #1f2937;

    line-height: 1.6;

}



/* Header and navigation */

header {

    background-color: #0b1f3a;

    color: white;

    padding: 20px 8%;

    display: flex;

    justify-content: space-between;

    align-items: center;

}



.logo h1 {

    margin: 0;

    font-size: 26px;

}



nav a {

    color: white;

    text-decoration: none;

    margin-left: 25px;

    font-weight: 500;

}



nav a:hover {

    color: #4ade80;

}





/* Main sections */

section {

    padding: 60px 10%;

}




h2 {

    color: #0b1f3a;

    font-size: 32px;

}



h3 {

    color: #0f766e;

}





/* Hero section */

.hero {

    background:

    linear-gradient(
        135deg,
        #0b1f3a,
        #164e63
    );


    color: white;

    padding: 100px 10%;

}



.hero h2 {

    color: white;

    font-size: 42px;

}



.hero p {

    font-size: 20px;

    max-width: 800px;

}





/* Lists */

ul {

    padding-left: 20px;

}


li {

    margin-bottom: 10px;

}





/* Footer */

footer {

    background-color: #0b1f3a;

    color: white;

    text-align: center;

    padding: 20px;

}




/* Mobile design */

@media(max-width:768px){


header {

    flex-direction: column;

}


nav {

    margin-top:20px;

}


nav a {

    display:block;

    margin:10px;

}


.hero h2 {

    font-size:32px;

}


}
